In [4]:
!pip3 install findspark

Requirement already satisfied: findspark in /Users/admin/miniconda3/lib/python3.9/site-packages (1.4.2)

In [81]:
!pip install utils

Collecting utils
  Downloading utils-1.0.1-py2.py3-none-any.whl (21 kB)
Installing collected packages: utils
Successfully installed utils-1.0.1

In [216]:
import findspark
findspark.init()

In [217]:
import pyspark

In [218]:
from pyspark import SparkContext,SparkConf

In [219]:
sc=SparkContext.getOrCreate()
sc

In [220]:
import pandas as pd

In [221]:
data=pd.read_csv('/Users/admin/Downloads/ProjetTD-AC-main/data/DS1/data.csv')

In [222]:
data

,ID,Object,Property,Value,Source,ObjectProperty,trustworthiness,oldtrustworthiness,Value_confidence
0,0.0,Object1,Property5,234041,Source1,Object1Property5,0.8,0.8,1.0
1,0.0,Object1,Property3,476627,Source1,Object1Property3,0.8,0.8,1.0
2,0.0,Object2,Property5,360789,Source1,Object2Property5,0.8,0.8,1.0
3,0.0,Object2,Property3,217264,Source1,Object2Property3,0.8,0.8,1.0
4,0.0,Object3,Property5,274376,Source1,Object3Property5,0.8,0.8,1.0
...,...,...,...,...,...,...,...,...,...
59995,0.0,Object996,Property1,978533,Source8,Object996Property1,0.8,0.8,0.0
59996,0.0,Object997,Property1,591492,Source8,Object997Property1,0.8,0.8,0.0
59997,0.0,Object998,Property1,542462,Source8,Object998Property1,0.8,0.8,0.0
59998,0.0,Object999,Property1,983588,Source8,Object999Property1,0.8,0.8,0.0
59999,0.0,Object1000,Property1,964731,Source8,Object1000Property1,0.8,0.8,0.0

In [223]:

data_=pd.DataFrame(data, columns= ['Object','Property','Value','Source'])

In [224]:
data_

           Object   Property   Value   Source
0         Object1  Property5  234041  Source1
1         Object1  Property3  476627  Source1
2         Object2  Property5  360789  Source1
3         Object2  Property3  217264  Source1
4         Object3  Property5  274376  Source1
...           ...        ...     ...      ...
59995   Object996  Property1  978533  Source8
59996   Object997  Property1  591492  Source8
59997   Object998  Property1  542462  Source8
59998   Object999  Property1  983588  Source8
59999  Object1000  Property1  964731  Source8

[60000 rows x 4 columns]

In [540]:
data_.to_csv('/Users/admin/Documents/my thesis/My_data.csv',index=False)

In [541]:
My_data=pd.read_csv('My_data.csv')

In [542]:
My_data

           Object   Property   Value   Source
0         Object1  Property5  234041  Source1
1         Object1  Property3  476627  Source1
2         Object2  Property5  360789  Source1
3         Object2  Property3  217264  Source1
4         Object3  Property5  274376  Source1
...           ...        ...     ...      ...
59995   Object996  Property1  978533  Source8
59996   Object997  Property1  591492  Source8
59997   Object998  Property1  542462  Source8
59998   Object999  Property1  983588  Source8
59999  Object1000  Property1  964731  Source8

[60000 rows x 4 columns]

In [543]:
read_ = sc.textFile("My_data.csv")
essai=read_.map(lambda line: line.split(",")).map(lambda line:(line[0],line[1],line[2],line[3]))

In [544]:
essai.take(10)

[('Object', 'Property', 'Value', 'Source'),
 ('Object1', 'Property5', '234041', 'Source1'),
 ('Object1', 'Property3', '476627', 'Source1'),
 ('Object2', 'Property5', '360789', 'Source1'),
 ('Object2', 'Property3', '217264', 'Source1'),
 ('Object3', 'Property5', '274376', 'Source1'),
 ('Object3', 'Property3', '293465', 'Source1'),
 ('Object4', 'Property5', '223567', 'Source1'),
 ('Object4', 'Property3', '278921', 'Source1'),
 ('Object5', 'Property5', '382661', 'Source1')]

In [534]:
# essai.collect()

In [598]:
def mapfonction(x):
    return ((x[0],x[1],x[2]),-ln(1-x[4]))

In [599]:
def reduceFonction(x,y):
    return x+y

In [600]:
result=essai.map(mapfonction).reduceByKey(reduceFonction)

In [539]:
# result.saveAsTextFile("data_Res.csv/")

In [37]:
# parallelisation de truthfinder

In [38]:
# parallelisation de la fonction de confidence d'une valeur

In [545]:
# constitution de dataframe pour le travail
My_data['TSInitial']=0.8
My_data['C_v']=0.0

In [549]:
My_data.to_csv('/Users/admin/Documents/my thesis/data_T.csv',index=False)

In [550]:
data_T=pd.read_csv( 'data_T.csv')

In [551]:
data_T

           Object   Property   Value   Source  TSInitial  C_v
0         Object1  Property5  234041  Source1        0.8  0.0
1         Object1  Property3  476627  Source1        0.8  0.0
2         Object2  Property5  360789  Source1        0.8  0.0
3         Object2  Property3  217264  Source1        0.8  0.0
4         Object3  Property5  274376  Source1        0.8  0.0
...           ...        ...     ...      ...        ...  ...
59995   Object996  Property1  978533  Source8        0.8  0.0
59996   Object997  Property1  591492  Source8        0.8  0.0
59997   Object998  Property1  542462  Source8        0.8  0.0
59998   Object999  Property1  983588  Source8        0.8  0.0
59999  Object1000  Property1  964731  Source8        0.8  0.0

[60000 rows x 6 columns]

In [588]:
# data_T['C_v']

In [758]:
# Definition de la matice de similarite
def similarity(dataframe):
    dict_sim = {}
    for key, df in dataframe.groupby(by=['Object','Property']):
        Values = df['Value'].unique()
        row = key[0]+key[1]
        for  i in range(len(Values)):
            w1 = Values[i]
            for  u in range(len(Values)):
                w2 = Values[u]
                sim = 1
                if w1!=w2:
                    t = abs(w1-w2)
                    sim = 1/t
                dict_sim[row+str(w1)+str(w2)] = sim
                dict_sim[row+str(w2)+str(w1)] = sim
    return dict_sim

In [757]:
# Definition des fonctions globales de l'algorithme
global rho
rho=0.7
global lam
lam=0.5
global dict_sim

Fonction de confiance d'une source

In [578]:
# Convertissons notre dataFrame en RDD
read_ = sc.textFile("data_T.csv")
# Spliter selon les lignes de notre dataFrame
read_rdd=read_.map(lambda line: line.split(",")).map(lambda line:(line[0],line[1],line[2],line[3],line[4],line[5])).filter(lambda x: x[0]!='Object')

In [589]:
# Lecture de notre RDD
read_rdd.take(5)

[('Object1', 'Property5', '234041', 'Source1', '0.8', '0.0'),
 ('Object1', 'Property3', '476627', 'Source1', '0.8', '0.0'),
 ('Object2', 'Property5', '360789', 'Source1', '0.8', '0.0'),
 ('Object2', 'Property3', '217264', 'Source1', '0.8', '0.0'),
 ('Object3', 'Property5', '274376', 'Source1', '0.8', '0.0')]

In [614]:
import numpy as np
import math as m

In [615]:
# la fonction Map
# (input x est un quatriplet constitutue de (object,property,valeur, TSinitial) et le renvoie 
# la cle(object,property,valeur) et la valeur sigma_v)
def MapFunction(x):
    return ((x[0],x[1],x[2]),-m.log(1-float(x[4])))

In [619]:
# la sortie de la fonction Map
retourMap=read_rdd.map(MapFunction)
retourMap.take(2)

[(('Object1', 'Property5', '234041'), 1.6094379124341005),
 (('Object1', 'Property3', '476627'), 1.6094379124341005)]

In [ ]:
retour=read.map(MapFunction)

In [617]:
# definition de la fonction reduce
# la fonction reduce prend en entree x qui est la cle et Y qui est de valeur dans le output du map
def ReduceFunction(x,y):
    return x+y

In [759]:
retourMap.reduceByKey(ReduceFunction).take(2)

/Users/admin/spark-3.0.3/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling
/Users/admin/spark-3.0.3/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling

[(('Object1', 'Property3', '476627'), 4.8283137373023015),
 (('Object2', 'Property3', '217264'), 4.8283137373023015)]

In [621]:
# output=read_rdd.map(MapFunction)
output=read_rdd.map(MapFunction).reduceByKey(ReduceFunction)

In [628]:
output.take(10)

[(('Object1', 'Property3', '476627'), 4.8283137373023015),
 (('Object2', 'Property3', '217264'), 4.8283137373023015),
 (('Object3', 'Property5', '274376'), 4.8283137373023015),
 (('Object3', 'Property3', '293465'), 4.8283137373023015),
 (('Object4', 'Property5', '223567'), 4.8283137373023015),
 (('Object4', 'Property3', '278921'), 4.8283137373023015),
 (('Object7', 'Property3', '160372'), 4.8283137373023015),
 (('Object8', 'Property3', '345722'), 4.8283137373023015),
 (('Object9', 'Property5', '387265'), 4.8283137373023015),
 (('Object10', 'Property5', '363700'), 4.8283137373023015)]

In [632]:
# output.take(100).foreach(println)

In [815]:
# def maps(x):
#     X=(x[0][0],x[0][1]),[(x[0][2],x[1])]
#     Z=X[0]
#     Y=X[1]
#     for i in X[0]:
#         lis=[]
#         for j in X[0]:
#             if i==j:

In [814]:
# output.map(essai).take(2)

Debut de la fonction ajustement

In [830]:
output.take(4)

[(('Object1', 'Property3', '476627'), 4.8283137373023015),
 (('Object2', 'Property3', '217264'), 4.8283137373023015),
 (('Object3', 'Property5', '274376'), 4.8283137373023015),
 (('Object3', 'Property3', '293465'), 4.8283137373023015)]

In [710]:
def Mapelement(x):
    return (x[0][0],x[0][1]),[(x[0][2],x[1])]

In [704]:
def ReduceShuffling(x,y):
    return x+y

In [852]:
transf=output.map(Mapelement)#.reduceByKey(ReduceShuffling)

In [853]:
transf.take(1)

/Users/admin/spark-3.0.3/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling

[(('Object1', 'Property3'), [('476627', 4.8283137373023015)])]

In [826]:
def reduceFonction(x):
    out=(x[0],[])
    for v in x[1]:
        c_v=v[1]
        l=0
        for v_ in x[1]:
            if v[0]!=v_[0]:
                Key_sim=x[0][0]+x[0][1]+str(v[0])+str(v_[0])
                c_v+=rho*(v_[1]*dict_sim[Key_sim])
        
        CV=1/(1+np.exp(-lam*c_v))
        out[1].append((v[0],CV))
    return out

In [849]:
transf.reduceByKey(reduceFonction).take(1)

/Users/admin/spark-3.0.3/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling

[(('Object1', 'Property3'),
  [('476627', 4.8283137373023015),
   ('614710', 3.218875824868201),
   ('921796', 1.6094379124341005),
   ('940859', 1.6094379124341005),
   ('568214', 1.6094379124341005),
   ('979204', 1.6094379124341005),
   ('583144', 1.6094379124341005)])]

In [855]:
output.map(Mapelement).map(reduceFonction).reduceByKey(ReduceShuffling).take(3)

[(('Object1', 'Property3'),
  [('476627', 0.9179004847782343),
   ('614710', 0.8333333333333334),
   ('921796', 0.6909830056250527),
   ('940859', 0.6909830056250527),
   ('568214', 0.6909830056250527),
   ('979204', 0.6909830056250527),
   ('583144', 0.6909830056250527)]),
 (('Object2', 'Property3'),
  [('217264', 0.9179004847782343),
   ('503996', 0.8333333333333334),
   ('702571', 0.6909830056250527),
   ('573432', 0.6909830056250527),
   ('738270', 0.6909830056250527),
   ('992156', 0.6909830056250527),
   ('798250', 0.6909830056250527)]),
 (('Object3', 'Property5'),
  [('274376', 0.9179004847782343),
   ('623856', 0.6909830056250527),
   ('858686', 0.6909830056250527),
   ('862053', 0.8333333333333334),
   ('639971', 0.6909830056250527),
   ('779628', 0.6909830056250527),
   ('958810', 0.6909830056250527)])]

In [858]:
output.map(Mapelement).reduceByKey(ReduceShuffling).map(reduceFonction).take(3)

[(('Object1', 'Property3'),
  [('476627', 0.9179022328966988),
   ('614710', 0.8333399034562446),
   ('921796', 0.6909936995519688),
   ('940859', 0.6909946257355961),
   ('568214', 0.6910011307820197),
   ('979204', 0.6909902118314286),
   ('583144', 0.6910030650579354)]),
 (('Object2', 'Property3'),
  [('217264', 0.917901196851986),
   ('503996', 0.8333364327146271),
   ('702571', 0.6909909336584837),
   ('573432', 0.690989966511498),
   ('738270', 0.6909913030106378),
   ('992156', 0.6909857607265718),
   ('798250', 0.6909888619487258)]),
 (('Object3', 'Property5'),
  [('274376', 0.9179010855120032),
   ('623856', 0.6909941552053976),
   ('858686', 0.6910588490365589),
   ('862053', 0.8333594058834171),
   ('639971', 0.6909943279603301),
   ('779628', 0.6909904643557644),
   ('958810', 0.6909886279370928)])]

In [839]:
dict_sim=similarity(data_T)

In [1]:
# donnee=output.map(Mapelement).reduceByKey(ReduceShuffling).reduce(reduceFonction)

In [461]:
donnee.take(2)

[(('Object1', 'Property3'),
  [('476627', 0.858874901684857),
   ('614710', 0.7692370510538484),
   ('921796', 0.6461191986885603),
   ('940859', 0.6461199406270961),
   ('568214', 0.6461251516437867),
   ('979204', 0.6461164047826595),
   ('583144', 0.6461267011448922)]),
 (('Object2', 'Property3'),
  [('217264', 0.8588736550867768),
   ('503996', 0.7692337326001029),
   ('702571', 0.6461169830155514),
   ('573432', 0.6461162082646716),
   ('738270', 0.6461172788920387),
   ('992156', 0.6461128391499741),
   ('798250', 0.64611532343505)])]

In [462]:
# def fonc(donnee,objet,propert):
#     return donnee.filter(lambda x:x[0]==('Object2','Property3'))
list(donnee.filter(lambda x:x[0]==('Object2','Property3')).take(1))

[(('Object2', 'Property3'),
  [('217264', 0.8588736550867768),
   ('503996', 0.7692337326001029),
   ('702571', 0.6461169830155514),
   ('573432', 0.6461162082646716),
   ('738270', 0.6461172788920387),
   ('992156', 0.6461128391499741),
   ('798250', 0.64611532343505)])]

In [497]:
global donne
donne=dict(list(donnee.collect()))
def MapFor(x):
    T=donne[(x[0],x[1])]
#     T=list(donne.filter(lambda V:V[0]==(x[0],x[1])).take(1))
    
    Y=T[0][1]
    C_v=0
    for v in Y:
        if v[0]==x[2]:
            C_v=v[1]
            break
            
    return x[0],x[1],x[2],x[3],C_v

/Users/admin/spark-3.0.3/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling
/Users/admin/spark-3.0.3/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling

In [501]:
# MapFor(dict(list(donnee.collect())))

In [502]:
# result.take(1)

In [483]:
# re=result.map(lambda x:x)

In [490]:
# re.take(1)

In [491]:
# MapFor(('Object1', 'Property5', '234041', 'Source1', '0.7'))

In [478]:
read_rdd.take(1)

[('Object1', 'Property5', '234041', 'Source1', '0.7')]

In [362]:
# data_essai.shape

In [357]:
# col(df, 'B')

In [358]:
# data_essai

In [359]:
# data_fin=data_essai['C-v']=col(df, 'B')

In [503]:
# t=donnee.filter(lambda x:x[0]==('Object2','Property3'))

In [421]:
t.take(10)

/Users/admin/spark-3.0.3/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling

[(('Object2', 'Property3'),
  [('217264', 0.8588736550867768),
   ('503996', 0.7692337326001029),
   ('702571', 0.6461169830155514),
   ('573432', 0.6461162082646716),
   ('738270', 0.6461172788920387),
   ('992156', 0.6461128391499741),
   ('798250', 0.64611532343505)])]

In [ ]:
key=