In [13]:
!pip3 install findspark

Requirement already satisfied: findspark in /Users/admin/miniconda3/lib/python3.9/site-packages (1.4.2)

In [1]:
import findspark
findspark.init()

In [2]:
import pyspark

In [3]:
from pyspark import SparkContext,SparkConf

In [6]:
sc=SparkContext.getOrCreate()
sc

In [7]:
import pandas as pd

In [8]:
data=pd.read_csv('My_data.csv')

In [9]:
data

           Object   Property   Value   Source
0         Object1  Property5  234041  Source1
1         Object1  Property3  476627  Source1
2         Object2  Property5  360789  Source1
3         Object2  Property3  217264  Source1
4         Object3  Property5  274376  Source1
...           ...        ...     ...      ...
59995   Object996  Property1  978533  Source8
59996   Object997  Property1  591492  Source8
59997   Object998  Property1  542462  Source8
59998   Object999  Property1  983588  Source8
59999  Object1000  Property1  964731  Source8

[60000 rows x 4 columns]

In [10]:

data_=pd.DataFrame(data, columns= ['Object','Property','Value','Source'])

In [11]:
data_

           Object   Property   Value   Source
0         Object1  Property5  234041  Source1
1         Object1  Property3  476627  Source1
2         Object2  Property5  360789  Source1
3         Object2  Property3  217264  Source1
4         Object3  Property5  274376  Source1
...           ...        ...     ...      ...
59995   Object996  Property1  978533  Source8
59996   Object997  Property1  591492  Source8
59997   Object998  Property1  542462  Source8
59998   Object999  Property1  983588  Source8
59999  Object1000  Property1  964731  Source8

[60000 rows x 4 columns]

In [12]:
data_.to_csv('My_data.csv',index=False)

In [13]:
My_data=pd.read_csv('My_data.csv')

In [14]:
My_data

           Object   Property   Value   Source
0         Object1  Property5  234041  Source1
1         Object1  Property3  476627  Source1
2         Object2  Property5  360789  Source1
3         Object2  Property3  217264  Source1
4         Object3  Property5  274376  Source1
...           ...        ...     ...      ...
59995   Object996  Property1  978533  Source8
59996   Object997  Property1  591492  Source8
59997   Object998  Property1  542462  Source8
59998   Object999  Property1  983588  Source8
59999  Object1000  Property1  964731  Source8

[60000 rows x 4 columns]

In [15]:
read_ = sc.textFile("My_data.csv")
essai=read_.map(lambda line: line.split(",")).map(lambda line:(line[0],line[1],line[2],line[3]))

In [16]:
essai.take(1)

[('Object', 'Property', 'Value', 'Source')]

In [17]:
# essai.collect()

In [21]:
def mapfonction(x):
    return ((x[0],x[1],x[2]),-ln(1-x[4]))

In [22]:
def reduceFonction(x,y):
    return x+y

In [23]:
result=essai.map(mapfonction).reduceByKey(reduceFonction)

In [24]:
# result.saveAsTextFile("data_Res.csv/")

In [25]:
# parallelisation de truthfinder

In [26]:
# parallelisation de la fonction de confidence d'une valeur

In [18]:
# constitution de dataframe pour le travail
My_data['TSInitial']=0.8
My_data['C_v']=0.0

In [19]:
My_data.to_csv('data_T.csv',index=False)

In [20]:
global data_T
data_T=pd.read_csv('data_T.csv')

In [21]:
data_T

           Object   Property   Value   Source  TSInitial  C_v
0         Object1  Property5  234041  Source1        0.8  0.0
1         Object1  Property3  476627  Source1        0.8  0.0
2         Object2  Property5  360789  Source1        0.8  0.0
3         Object2  Property3  217264  Source1        0.8  0.0
4         Object3  Property5  274376  Source1        0.8  0.0
...           ...        ...     ...      ...        ...  ...
59995   Object996  Property1  978533  Source8        0.8  0.0
59996   Object997  Property1  591492  Source8        0.8  0.0
59997   Object998  Property1  542462  Source8        0.8  0.0
59998   Object999  Property1  983588  Source8        0.8  0.0
59999  Object1000  Property1  964731  Source8        0.8  0.0

[60000 rows x 6 columns]

In [22]:
# data_T['C_v']

In [23]:
# Definition de la matice de similarite
def similarity(dataframe):
    dict_sim = {}
    for key, df in dataframe.groupby(by=['Object','Property']):
        Values = df['Value'].unique()
        row = key[0]+key[1]
        for  i in range(len(Values)):
            w1 = Values[i]
            for  u in range(len(Values)):
                w2 = Values[u]
                sim = 1
                if w1!=w2:
                    t = abs(w1-w2)
                    sim = 1/t
                dict_sim[row+str(w1)+str(w2)] = sim
                dict_sim[row+str(w2)+str(w1)] = sim
    return dict_sim

In [24]:
# Definition des fonctions globales de l'algorithme
global rho
rho=0.7
global lam
lam=0.5
global dict_sim
global read_rdd

Fonction de confiance d'une source

In [25]:
# Convertissons notre dataFrame en RDD
read_ = sc.textFile("data_T.csv")
# Spliter selon les lignes de notre dataFrame
read_rdd=read_.map(lambda line: line.split(",")).map(lambda line:(line[0],line[1],line[2],line[3],line[4],line[5])).filter(lambda x: x[0]!='Object')

In [26]:
# Lecture de notre RDD
read_rdd.take(5)

[('Object1', 'Property5', '234041', 'Source1', '0.8', '0.0'),
 ('Object1', 'Property3', '476627', 'Source1', '0.8', '0.0'),
 ('Object2', 'Property5', '360789', 'Source1', '0.8', '0.0'),
 ('Object2', 'Property3', '217264', 'Source1', '0.8', '0.0'),
 ('Object3', 'Property5', '274376', 'Source1', '0.8', '0.0')]

In [27]:
read_rdd.filter(lambda x: x[0]== 'Object1' and x[1]== 'Property3' and x[2]== '476627').take(1)

[('Object1', 'Property3', '476627', 'Source1', '0.8', '0.0')]

In [28]:
import numpy as np
import math as m

In [29]:
# la fonction Map
# (input x est un quatriplet constitutue de (object,property,valeur, TSinitial) et le renvoie 
# la cle(object,property,valeur) et la valeur sigma_v)
def MapFunction(x):
    return ((x[0],x[1],x[2]), (-m.log(1-float(x[4])), [(x[3],x[4])] ) )

In [30]:
# la sortie de la fonction Map
retourMap=read_rdd.map(MapFunction)
retourMap.take(2)

[(('Object1', 'Property5', '234041'),
  (1.6094379124341005, [('Source1', '0.8')])),
 (('Object1', 'Property3', '476627'),
  (1.6094379124341005, [('Source1', '0.8')]))]

In [31]:
retour=read_rdd.map(MapFunction)

In [32]:
# definition de la fonction reduce
# la fonction reduce prend en entree x qui est la cle et Y qui est de valeur dans le output du map
def ReduceFunction(x,y):
    return x[0]+y[0],x[1]+y[1]

In [34]:
retourMap.reduceByKey(ReduceFunction).take(2)

[(('Object1', 'Property3', '476627'),
  (4.8283137373023015,
   [('Source1', '0.8'), ('Source5', '0.8'), ('Source9', '0.8')])),
 (('Object2', 'Property3', '217264'),
  (4.8283137373023015,
   [('Source1', '0.8'), ('Source5', '0.8'), ('Source9', '0.8')]))]

In [35]:
# output=read_rdd.map(MapFunction)
output=read_rdd.map(MapFunction).reduceByKey(ReduceFunction)

In [36]:
output.take(2)

[(('Object1', 'Property3', '476627'),
  (4.8283137373023015,
   [('Source1', '0.8'), ('Source5', '0.8'), ('Source9', '0.8')])),
 (('Object2', 'Property3', '217264'),
  (4.8283137373023015,
   [('Source1', '0.8'), ('Source5', '0.8'), ('Source9', '0.8')]))]

In [46]:
# output.take(100).foreach(println)

In [47]:
# def maps(x):
#     X=(x[0][0],x[0][1]),[(x[0][2],x[1])]
#     Z=X[0]
#     Y=X[1]
#     for i in X[0]:
#         lis=[]
#         for j in X[0]:
#             if i==j:

In [48]:
# output.map(essai).take(2)

Debut de la fonction ajustement

In [37]:
output.take(4)

[(('Object1', 'Property3', '476627'),
  (4.8283137373023015,
   [('Source1', '0.8'), ('Source5', '0.8'), ('Source9', '0.8')])),
 (('Object2', 'Property3', '217264'),
  (4.8283137373023015,
   [('Source1', '0.8'), ('Source5', '0.8'), ('Source9', '0.8')])),
 (('Object3', 'Property5', '274376'),
  (4.8283137373023015,
   [('Source1', '0.8'), ('Source5', '0.8'), ('Source9', '0.8')])),
 (('Object3', 'Property3', '293465'),
  (4.8283137373023015,
   [('Source1', '0.8'), ('Source5', '0.8'), ('Source9', '0.8')]))]

In [38]:

def Mapelement(x):
    return (x[0][0],x[0][1]),[(x[0][2],x[1][0],x[1][1])]

In [39]:
def ReduceShuffling(x,y):
    return x+y

In [40]:
transf=output.map(Mapelement).reduceByKey(ReduceShuffling)

In [41]:
transf.take(1)

[(('Object1', 'Property3'),
  [('476627',
    4.8283137373023015,
    [('Source1', '0.8'), ('Source5', '0.8'), ('Source9', '0.8')]),
   ('614710', 3.218875824868201, [('Source2', '0.8'), ('Source6', '0.8')]),
   ('921796', 1.6094379124341005, [('Source3', '0.8')]),
   ('940859', 1.6094379124341005, [('Source7', '0.8')]),
   ('568214', 1.6094379124341005, [('Source10', '0.8')]),
   ('979204', 1.6094379124341005, [('Source4', '0.8')]),
   ('583144', 1.6094379124341005, [('Source8', '0.8')])])]

In [42]:
dict_sim=similarity(data_T)

def reduceFonction(x):
    out=(x[0],[])
    for v in x[1]:
        c_v=v[1]
        l=0
        for v_ in x[1]:
            if v[0]!=v_[0]:
                Key_sim=x[0][0]+x[0][1]+str(v[0])+str(v_[0])
                c_v+=rho*(v_[1]*dict_sim[Key_sim])
        
        CV=1/(1+np.exp(-lam*c_v))
        
        out[1].append((v[0],CV,v[2]))
        
    return out

In [43]:

data_T[(data_T['Object']=='Object1') & (data_T['Property']=='Property3') & (data_T['Value']==476627)]

       Object   Property   Value   Source  TSInitial  C_v
1     Object1  Property3  476627  Source1        0.8  0.0
2001  Object1  Property3  476627  Source5        0.8  0.0
4001  Object1  Property3  476627  Source9        0.8  0.0

In [44]:
data_T.dtypes

Object        object
Property      object
Value          int64
Source        object
TSInitial    float64
C_v          float64
dtype: object

In [ ]:
transf.reduceByKey(reduceFonction).take(1)

In [146]:
# output.map(Mapelement).map(reduceFonction).reduceByKey(ReduceShuffling).take(3)

In [113]:
rdd_cv = sc.parallelize(transf.map(reduceFonction).map(mapT).reduceByKey(lambda x,y: x+y ).collect()[0][1])
rdd_cv.take(3)

[('Object1', 'Property3', '476627', 'Source1', '0.8', 0.9179022328966988),
 ('Object1', 'Property3', '476627', 'Source5', '0.8', 0.9179022328966988),
 ('Object1', 'Property3', '476627', 'Source9', '0.8', 0.9179022328966988)]

In [90]:
def mapT(x):
    out=[]
    for v in x[1]:
        for s in v[2]:
            out.append((x[0][0],x[0][1],v[0],s[0],s[1],v[1]))
    return (1,out)

In [121]:
def mapTS(x):
    return x[3],x[5]


source_ts =  list(rdd_cv.map(mapTS).groupByKey().mapValues(lambda x: sum(x) / len(x)).collect())

In [122]:
source_ts

[('Source1', 0.8140327150387757),
 ('Source9', 0.8160091964483454),
 ('Source3', 0.781366248617352),
 ('Source6', 0.8183560479640399),
 ('Source8', 0.7804586494724102),
 ('Source2', 0.8173371623646567),
 ('Source7', 0.7817807764920789),
 ('Source10', 0.8166928854732832),
 ('Source4', 0.7800489196831838),
 ('Source5', 0.8168634337980661)]

In [123]:
def mapReconstruit(x):
    ts = 0
    for s in source_ts:
        if x[3]==s[0]:
            ts = s[1]
            break
    return x[0],x[1],x[2],x[3],ts,x[5]

In [124]:
rdd_cv.map(mapReconstruit).take(2)
rdd_read =

[('Object1',
  'Property3',
  '476627',
  'Source1',
  0.8140327150387757,
  0.9179022328966988),
 ('Object1',
  'Property3',
  '476627',
  'Source5',
  0.8168634337980661,
  0.9179022328966988)]

In [462]:
# def fonc(donnee,objet,propert):
#     return donnee.filter(lambda x:x[0]==('Object2','Property3'))
list(donnee.filter(lambda x:x[0]==('Object2','Property3')).take(1))

[(('Object2', 'Property3'),
  [('217264', 0.8588736550867768),
   ('503996', 0.7692337326001029),
   ('702571', 0.6461169830155514),
   ('573432', 0.6461162082646716),
   ('738270', 0.6461172788920387),
   ('992156', 0.6461128391499741),
   ('798250', 0.64611532343505)])]

In [501]:
# MapFor(dict(list(donnee.collect())))

In [502]:
# result.take(1)

In [483]:
# re=result.map(lambda x:x)

In [490]:
# re.take(1)

In [491]:
# MapFor(('Object1', 'Property5', '234041', 'Source1', '0.7'))

In [478]:
read_rdd.take(1)

[('Object1', 'Property5', '234041', 'Source1', '0.7')]

In [362]:
# data_essai.shape

In [357]:
# col(df, 'B')

In [358]:
# data_essai

In [359]:
# data_fin=data_essai['C-v']=col(df, 'B')

In [503]:
# t=donnee.filter(lambda x:x[0]==('Object2','Property3'))

In [421]:
t.take(10)

/Users/admin/spark-3.0.3/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling

[(('Object2', 'Property3'),
  [('217264', 0.8588736550867768),
   ('503996', 0.7692337326001029),
   ('702571', 0.6461169830155514),
   ('573432', 0.6461162082646716),
   ('738270', 0.6461172788920387),
   ('992156', 0.6461128391499741),
   ('798250', 0.64611532343505)])]

In [ ]:
key=

In [1]:
pip show pandas

Name: pandas
Version: 1.1.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.orgNote: you may need to restart the kernel to use updated packages.
Author: None
Author-email: None
License: BSD
Location: c:\users\admin\anaconda3\lib\site-packages
Requires: numpy, pytz, python-dateutil
Required-by: statsmodels, seaborn, glue-core, catboost